.ios, .android {
    .article {
        overflow: visible !important;
        background-color: #fbf6ef;
    }
}

.scroll-wrapper {
    @include mq(tablet) {
        width: 740px;
    }

    @include mq(desktop) {
        width:960px;
    }

    @include mq(leftCol) {
        width: 1140px;
    }
    @include mq(wide) {
        width: 1260px;
    }
    box-sizing: border-box;
    margin: auto;
    background-color:transparent;
    position: relative;
    z-index: 100;
    border-top: 1px solid #dcdcdc;
    margin-top: 36px;
    margin-bottom: 36px;
    border-bottom: 1px solid #dcdcdc;
}

.scroll-inner {
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    top: 0;
    height: auto;
    //max-height: 90vh;

    &.fixed-top {
        position: fixed;
    }

    &.absolute-top {
        position: absolute;
    }

    &.absolute-bottom {
        position: absolute;
        top: auto;
        @include mq(tablet) {
            bottom: 0;
        }
    }

    svg {
        overflow: visible;
    }
}

.scroll-text {
    position: absolute;
    top: 0;
    pointer-events: none;
}


.scroll-text__inner {
    box-sizing: border-box;
    height: 100vh;
    position: relative;
    z-index: 100;

    .transparent-until-active & {
        opacity: 0.25;
        transition: opacity 0.5s ease-in-out;
    }

    &:first-of-type {
        .transparent-until-active & {
            opacity: 1;
        }
    }
}
