/* select alternating items starting with the second item */
h2:nth-of-type(2), h2:nth-of-type(3), h2:nth-of-type(4) {
 font-size: 21px;
 max-width: 860px;
 border-top: 1px solid #bababa;
}


.content--interactive {
    background-color: #fbf6ef;

    svg{
        background: transparent;
    }
}

.bees-standfirst{
    font-style: normal;
    margin: 0;
    font-family: 'Guardian Text Egyptian Web', Arial, sans-serif;
    font-size: 14px;
    font-weight: 200;
    line-height: 18px;
    color: #333;
}

.interactive-atom {
    margin: 0;
    padding: 0;
    background: transparent;
    margin-bottom: 12px;
}

.interactive-wrapper-bees-age, .interactive-wrapper-bees-education, .interactive-wrapper-bees-income, .interactive-wrapper-bees-race, .interactive-wrapper-bees-urban-rural, .interactive-wrapper-bees-old, .interactive-wrapper-bees-young{
	border-bottom: 1px solid #dcdcdc;
}

.tick line {
    stroke-width: 1;
    stroke-dasharray: 1,2;
    stroke: #bababa;
    fill: none;
}

.tick text {
    font-size: 12px;
    font-family: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    fill: #bababa;
}

.bees-header {
    font-family: "Guardian Headline","Guardian Egyptian Web","Guardian Headline Full",Georgia,serif;
    font-size: 18px;
    font-weight: 900;
    color:#333;
    margin: 0px 0 0px 0;
}

.key-bees-wrapper{
    position: relative;
    width: 100%;
    height: 0px;
}

.key-bees{
	display: flex;
	justify-content: space-between;
    width:100%;
}

.key-wrapper {

	display: flex;
    font-size: 14px;
    font-family: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: 900;
    align-items: center;

    &.dem{
    	flex-direction: row-reverse;
        justify-content: flex-start;
        fill:#25428F;

    }
    &.rep{
        fill:#c70000;
        right: 0px;
        position: relative;
    }

    svg{
        height: 5px;
        width: 30px;
    }

    span{

        max-width: 130px;

         @include mq($from: 100px, $until: 620px){
            max-width: 80px;
         }
        
    }
    
}

.key-text-dem{
	margin-left: 6px;
    color: #25428F;
    line-height: 18px;

}

.key-text-rep{
	margin-right: 6px;
    color: #c70000;
    line-height: 18px;
}

.bees-subheader{

    font-family: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-size: 15px;
    color:#333;
    margin-bottom: 12px;

    .bees-subheader-pp{
        line-height: 120%;
        font-family: "Guardian Headline","Guardian Egyptian Web","Guardian Headline Full",Georgia,serif;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;

        &.Republicans{
            color: #c70000;
        }

        &.Democrats{
            color: #25428F;
        }
    }

}

.legend-bees{
    margin: 6px 0 6px 0;
    font-size:14px;
    display: flex;
    flex-wrap:wrap;
    p{

        font-family: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
        font-weight: 500;
        margin:0 8px 0 0;
    }

    svg{
        align-self:center;
        margin-top: 2px;
    }
}

.legend-tick{
    font-size: 14px;
    font-weight: 300;
    font-family: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    fill: #bababa;
}
.legend-circle{
    fill:#bababa;
}

.bees-county-annotation{
    font-family: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-size:14px;
    color:#333;
    font-weight: bold;
}

.bees-county-annotation-white{
    font-family: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-size:14px;
    stroke:#fbf6ef;
    stroke-width:3px;
    font-weight: bold;
}

.interactive-wrapper-bees-age, .interactive-wrapper-bees-covid, .interactive-wrapper-bees-education, .interactive-wrapper-bees-income, .interactive-wrapper-bees-old, .interactive-wrapper-bees-race, .interactive-wrapper-bees-urban-rural{
    margin-bottom: 12px;
}