<div id="scrolly">
    <div class="scroll-wrapper">
        <div class="scroll-inner">
           <div class='interactive-wrapper'>
           		<div class="div-all"></div>
           		<div class='all-keys'>
           			<div class="map-key choropleth-key">
	           			<div class="ge-map-key">
	           					<div class="ge-map-key__sq D">&nbsp;</div>
	           					<div class="ge-map-key__name">Biden</div>
	           			</div>
	           			<div class="ge-map-key">
	           					<div class="ge-map-key__sq R">&nbsp;</div>
	           					<div class="ge-map-key__name">Trump</div>
	           			</div>
	           			<div class="ge-map-key">
	           					<div class="ge-map-key__sq I">&nbsp;</div>
	           					<div class="ge-map-key__name">Independent</div>
	           			</div>
	           			<div class="ge-map-key">
	           					<div class="ge-map-key__sq T">&nbsp;</div>
	           					<div class="ge-map-key__name">Awaiting result</div>
	           			</div>
		           	</div>
					<div class="map-key arrows-key">
						<div class="arrow-text-intro">Swing from 2016. Larger arrows indicate larger swings</div>
						<svg viewBox="0 0 120px 34.9px">
							<g>
								<polygon class="arrow-poly D" points="4.2,12.2 6.3,8.6 60,34.9 9.1,3.6 11.2,0 0,1.6"/>
								<polygon class="arrow-poly R" points="130,1.6 118.8,0 120.9,3.6 70,34.9 123.7,8.6 125.8,12.2"/>
							</g>
						</svg>

						<div class="arrows-key-wrapper">
							<span class="arrow-text D">Swing to Democrats</span>
							<span class="arrow-text R">Swing to Republicans</span>
						</div>
					</div>
					<div class="map-key arrows-key-mobile">
						<svg viewBox="0 0 120px 24px">
							<g>
								<polygon class="arrow-poly R" points="110,1.6 105.9,0.4 107.1,2.6 70.3,23.1 70.7,23.9 107.6,3.5 108.8,5.7 "/>
								<polygon class="arrow-poly D" points="59.7,23.1 22.9,2.6 24.1,0.4 20,1.6 21.2,5.7 22.4,3.5 59.3,23.9 	"/>
							</g>

						</svg>

						<div class="arrows-key-wrapper">
							<span class="arrow-text D">Swing to Democrats</span>
							<span class="arrow-text R">Swing to Republicans</span>
						</div>
						<div class="arrow-text-intro">Swing from 2016. Larger arrows indicate larger swings</div>
					</div>
           		</div>
           		
           </div>
        </div>
        <div class="scroll-text"></div>
    </div>
</div>