@import "fonts";
@import "mq";
@import "palette";
//@import "enhancer";

.interactive-atom {
    margin: 0;
    padding: 0;
    background: white;

    
}

.R{
	fill:#C70000;
}

.D{
	fill:#25428F;
}

.AR{
	fill:#dcdcdc;
}

.I{
	fill: #f3c000;
}
.T{
	fill: #dcdcdc;
}