@import "fonts";
@import "mq";
@import "palette";
@import "scrolly";
@import "enhancer";


.content--interactive {
	background-color: #fbf6ef;

	svg{
		background: #fbf6ef;
	}
}

.svg-annotations{
	background: transparent !important;
}

.element.element-atom{
	background-color: #fbf6ef;
}


.scroll-inner svg {
	overflow: hidden;
}

.scroll-text {

	margin-left: 55%;

	@include mq($from: 100px, $until: 499px) {
		margin-left: 0;
		z-index: -1;
		margin-top:calc(100% + 40px);
	}
}

.scroll-text__div {
	padding: 6px 4px 6px 8px !important;
	width: calc(100% - 22px);
	max-width: 420px;

	@include mq(desktop) {
		width: 420px;
	}
	margin-left: 0px;
	background-color: #fff;
	border: 1px solid #bababa;
	padding: 6px 10px 0px;

	font-size: 17px;
	line-height: 24px;
	font-family: "Guardian Text Egyptian Web",Georgia,serif;
	color: #121212;

}

.blob-headline{
	display: inline-block;
	width:100%;
	font-size: 22px;
	line-height: 120%;
	font-family: "Guardian Headline","Guardian Egyptian Web","Guardian Headline Full",Georgia,serif;
	font-weight: 400;
	font-weight: 700;
	line-height: 1.2;
}


.interactive-atom {
	margin: 0;
	padding: 0;
	background: #fbf6ef !important;
}

.div-svg-map {
    background: #fbf6ef !important;
}

.interactive-wrapper{
	display: flex;
	flex-direction: column;

	@include mq($from: 100px, $until: 499px) {
		border-bottom: 1px solid #dcdcdc;
	}
}

.div-all{
	background-color: #fbf6ef;
}

.map-container{
	position: relative;
}

.map-container.R,.map-container.D{
	max-width: 600px;
}


.canvas-swing, .svg-annotations{
	position: absolute;
	left:0px;
	top:0px;

	text{
		font-size:12px;
	}
}

.elex-state{
	fill:none;
	stroke:#bababa;
	&.selected{
		stroke-width:2px;
	}
	&.swing{
		stroke-width:2px;
		stroke:#333;
		stroke-alignment:inner;
	}
}

.elex-state-selected{
	stroke:#bababa;
	stroke-width:2.5px;
	fill:none;
}

.elex-county{
	fill:none;
	stroke:#dadada;
}

.elex-county-selected{
	fill:none;
	stroke:#333;
	stroke-width:2px;
}

.arrow-poly.D{
	fill:#25428F;
}

.arrow-poly.R{
	fill:#C70000;
}

.arrow-stroke.D{
	fill:none;
	stroke:#25428F;
	stroke-width:4px;
}

.arrow-stroke.R{
	fill:none;
	stroke:#c70000;
	stroke-width:4px;
}

.map-label{

	font-family: 'Guardian Text Sans Web', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
	font-weight: 400;
	font-size: 14px;
	text-anchor: middle;
	fill:#333;

	@include mq($from: 100px, $until: 620px){
		font-size: 12px;
	}
}

.map-container.all
{
	@include mq($from: 100px, $until: 620px){
		position: relative;
		z-index: 1;
		background: #fff;
		margin: 0 auto;
	}
}


.svg-labels{
	background: transparent !important;
	position: absolute;
	top:0;
	left: 0;
}


.city-label, .city-label-white {
	fill:#333;
	font-size: 14px;
	line-height: 115%;
	font-family: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
	pointer-events: none;

	&.capital{
		font-weight: 700;
	}

	&.city{
		font-weight: 300;
	}
}

.city-label-white{
	stroke: #fff;
	stroke-width: 2;
	stroke-linejoin: round;
	stroke-opacity: .7;
	fill: none;
}

.city-label-circle{
	fill: #121212;
	stroke:#fff;
	stroke-width:1px;
	pointer-events: none;
}






//----------

.scroll-text__inner{

	height: 100vh;
	@include mq($from: 100px, $until: 499px) {
		height: 80vh;
	} 
}

.div-labels{
	pointer-events: none;
}


.canvas-arrows{
	position: absolute;
	top: 0;
   	left: -9999px;
}

.arrows-key-wrapper{
	width: 100%;
	display: flex;

	font-size: 13px;
	font-family: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
	font-weight: 900;


	span{
		width: 60px;
		display: block;
		margin-right: 10px;
		color:#c70000;
	}

	span:nth-of-type(1)
	{
		color:#25428F;
	}
}
.arrow-text-intro{
	max-width: 160px;
	font-family: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
	line-height: 14px;
	font-size: 12px;
	color: #333;
	margin-bottom: 6px;

	@include mq($from: 100px, $until: 499px) {
		margin-top: 6px;
		max-width: 100%;
	}
}

.all-keys{
	position: relative;
	height:120px;
	background-color: #fbf6ef;
}

.map-key{
	position: absolute;
	left: 0;
	top:6px;
}

.choropleth-key{
	background: #fbf6ef;
	width: 100%;
	height: 30px;
	display: flex;
	font-size: 13px;
	font-family: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
	font-weight: 900;

	.ge-map-key{
		display: flex;
		margin-right: 6px;
		align-self:center;
	}

	.ge-map-key__sq{
		width: 16px;
    	height: 16px;
    	border-radius: 50px;
		margin: 0 auto;
		margin-right: 2px;

		&.D{
			background-color: #25428F;
		}
		&.R{
			background-color: #C70000;
		}
		&.I{
			background-color: #f3c000;
		}
		&.T{
			background-color: #dcdcdc;
		}
	}
}

.arrows-key{
	width: 100%;
	background: #fbf6ef;
	svg{
		height: 35px;
		background: transparent;
	}
	display: none;
}

.arrows-key-mobile{
	width: 100%;
	background: #fbf6ef;
	svg{
		height: 25px;
		background: transparent;
	}
	display: none;

}

canvas{
	pointer-events: none;
}


.svg-map-choropleth{
	fill:white;
}

.county-elex-D{
	fill:#25428F;
	stroke:#25428F;
}

.county-elex-R{
	fill:#C70000;
	stroke:#C70000;
}

.county-elex-O, .county-elex-I{
	fill:#f3c000;
	stroke:#f3c000;
}

.county-elex-T{
	fill:#dcdcdc;
	stroke:#dcdcdc;
}

.svg-map{
	position: absolute;
	left: 0;
	top:0;
	background: transparent !important;
	//pointer-events: none;
}

.blob-arrow-svg{
	background: transparent !important;
	width: 30px;
	height: 15px;
}

.state-counties-selected{
	display: none;
}

.flip-states-annotation, .flip-states-annotation-white{
	font-family: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
	font-size: 14px;
	color: #333;
	font-weight: 900;
}

.flip-states-annotation-white{
	stroke: #fff;
	stroke-width: 2;
	stroke-linejoin: round;
	stroke-opacity: .7;
	fill: none;
}

