@import "fonts";
@import "mq";
@import "palette";
//@import "enhancer";

.interactive-atom {
    margin: 0;
    padding: 0;
    background: white;

    
}

.interactive-wrapper{
 	display: flex;
	flex-direction: column; 

	border-top: 0.0625rem solid #dcdcdc;
    border-bottom: 0.0625rem solid #dcdcdc;
}

.map-container{
	position: relative;
}

.map-container.R,.map-container.D{
	max-width: 600px;
}


.canvas-swing, .svg-annotations{
	position: absolute;
	left:0px;
	top:0px;

	text{
		font-size:12px;
	}
}

.elex-state{
	fill:none;
	stroke:#bababa;
}

.arrow-poly.D{
	fill:#25428F;
}

.arrow-poly.R{
	fill:#C70000;
}

.arrow-stroke.D{
	fill:none;
	stroke:#25428F;
	stroke-width:4px;
}

.arrow-stroke.R{
	fill:none;
	stroke:#c70000;
	stroke-width:4px;
}

.map-label{
	
}

.svg-annotations{
	pointer-events:none;
}
